# Чтение и запись данных

## Работа с большими данными - MongoDB

### Проверка практики

In [ ]:
import sqlalchemy
import psycopg2
import pandas as pd
import json

#### Подключение к БД

In [ ]:
conn = 'postgresql+psycopg2://readonly:6hajV34RTQfmxhS@dsstudents.skillbox.ru:5432/db_ds_students'

engine = sqlalchemy.create_engine(conn)
connect = engine.connect()

inspector = sqlalchemy.inspect(engine)
inspector.get_table_names()

['keywords', 'links', 'ratings', 'exploratory', 'course_purchases']

#### Получение содержимого таблицы

In [ ]:
df = pd.read_sql("select * from course_purchases", connect)
df.head(10)

,user_id,course_id,purchase_date,purchase_place
0,user_id,course_id,purchase_date,purchase_place
1,ed5da480-57a2-489c-8e68-512155ab9892,fc082ec6-7721-4419-916b-06e4b560b50e,2019-03-22,Екатеринбург
2,7ba07e70-f76a-4bbc-9b5d-34265f4f7638,66583e42-987a-4c38-b168-e5ee4772a627,2018-10-28,Курганинск
3,7ba07e70-f76a-4bbc-9b5d-34265f4f7638,b45874ec-57c7-41e7-a38c-580330a23f50,2019-04-06,Владивосток
4,8b1752da-599d-413a-a2e9-bc75387b2be9,2d98baac-eb91-4285-99e1-bee66018cd25,2019-03-23,Владивосток
5,3e3b7b84-65f0-4152-815a-730bec31bb9d,83982097-8179-4ba2-affa-f8aef42fc070,2019-03-25,Катайск
6,3e3b7b84-65f0-4152-815a-730bec31bb9d,71a3a64e-b0ec-40ac-9952-a9833900a48e,2019-02-25,Североуральск
7,8c390b6e-a490-44ac-b974-f5dec7f6970b,b45874ec-57c7-41e7-a38c-580330a23f50,2019-03-06,Сочи
8,8c390b6e-a490-44ac-b974-f5dec7f6970b,34bfd77d-4ddd-411b-af91-6d2f92dfb8ce,2019-03-26,Владивосток
9,1affa6e8-1e05-4728-96ed-dd471f9552d1,590078fa-1cd7-4a1c-b184-839d79f9c54a,2019-02-16,Александровск-Сахалинский

In [ ]:
df.groupby('course_id')['user_id'].count()

course_id
0172e898-7ddf-4ce9-ae0f-3c26ce949141    2
0722fb94-7c6b-41fd-98ea-d4cab87f3655    3
0d0d9bbc-c451-41a0-983e-0733046044de    2
187e1d34-1d4b-4ded-8f40-8425974e25d6    3
196cd844-ffcd-4694-8b94-2983421ddb87    3
215c9f43-6046-454b-9f82-e1992f835227    4
2466d92a-2a30-4edc-bb8d-bcc2a3891099    3
2d98baac-eb91-4285-99e1-bee66018cd25    4
31bfef7f-5310-4256-a097-a9c4243654ff    1
34bfd77d-4ddd-411b-af91-6d2f92dfb8ce    5
3c580c86-9f15-4730-9578-1aca7d19a8ca    2
3cc8041e-ac78-4c27-899f-c204427d3f63    4
3d2c9fe4-5659-4457-bfd8-6aef1f516374    2
44ec7db3-07ab-4b9d-aaef-4b52684510ea    1
46ee2954-ec65-4b53-af1e-4a7c7d318873    2
493b245c-c7e6-4134-8b58-3264971e097e    9
590078fa-1cd7-4a1c-b184-839d79f9c54a    8
5b58a4ab-9950-4bdf-bc4d-16225adead8a    8
625cd518-8a6f-4bef-9326-10a7e3f9417c    4
66583e42-987a-4c38-b168-e5ee4772a627    4
71a3a64e-b0ec-40ac-9952-a9833900a48e    1
72ddec62-3821-4c9e-a8dd-29e05e7a3210    5
83982097-8179-4ba2-affa-f8aef42fc070    3
846231ae-5a86-4218-bb3b-d7bb9640d3f1    5
86a06a55-2da2-4a37-9a6e-742ba4841fca    4
8e730d61-1924-419f-9c0a-c6b7d9688114    4
8fba0f0c-e887-4090-84dd-121712a5b86b    1
96dcf479-8f6c-4953-804b-a4f2f9c1e2ca    7
a1307f0a-70c1-40ca-b868-76c428250e02    2
b45874ec-57c7-41e7-a38c-580330a23f50    6
b96f0a37-6a38-45cb-9bcf-5940a06d877f    1
bdd8cac0-4003-4b22-ab71-9d3272a14121    2
course_id                               1
d5720be9-13be-4a66-8d0a-c180099537d2    4
d575090d-7dc1-4413-98bc-eef102fc79d2    2
e4a731c1-67d4-4fe1-a908-4a84dd7db821    2
f384577d-759e-4dd4-84ab-51cbd929a7af    3
f48a7fc7-40ae-4ede-ab9d-aac7c833c8af    4
f6cc4782-0ec5-4741-8c32-6fec0ad6f14b    4
f716b7b6-90af-4b0a-998b-b382beadcfc1    3
f7d37ce8-2388-4b10-8a7e-55fbd763a5a9    5
fc082ec6-7721-4419-916b-06e4b560b50e    7
fe32d4f8-9272-4be2-8a74-da8ef0c2bad8    3
ff8101ba-a43d-404b-bfeb-a4e5ae4a3dfc    1
Name: user_id, dtype: int64

In [ ]:
df = pd.read_sql("select course_id, count(user_id) from course_purchases group by course_id", connect)
df.head(10)

                              course_id  count
0  fe32d4f8-9272-4be2-8a74-da8ef0c2bad8      3
1  f716b7b6-90af-4b0a-998b-b382beadcfc1      3
2  b45874ec-57c7-41e7-a38c-580330a23f50      6
3  96dcf479-8f6c-4953-804b-a4f2f9c1e2ca      7
4  f6cc4782-0ec5-4741-8c32-6fec0ad6f14b      4
5  ff8101ba-a43d-404b-bfeb-a4e5ae4a3dfc      1
6  b96f0a37-6a38-45cb-9bcf-5940a06d877f      1
7  0d0d9bbc-c451-41a0-983e-0733046044de      2
8  196cd844-ffcd-4694-8b94-2983421ddb87      3
9  8e730d61-1924-419f-9c0a-c6b7d9688114      4

### Подключение к MongoDB

In [ ]:
import pymongo

In [ ]:
conn = 'mongodb://students:X63673t47Gl03Sq@dsstudents.skillbox.ru:27017/?authSource=movies'

client = pymongo.MongoClient(conn)
db = client['movies']

In [ ]:
db.list_collection_names()

['tags', 'users']

In [ ]:
tags = db['tags']

In [ ]:
users = db['users']
users.find().count()

C:\Users\79279\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.

100

In [ ]:
tags.find_one()

{'_id': ObjectId('5c822402c0669da98bd5081e'), 'id': 931, 'name': 'jealousy'}

In [ ]:
tags.find().count()

C:\Users\79279\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """Entry point for launching an IPython kernel.

158680

In [ ]:
head = tags.find().limit(5)
head

In [ ]:
for doc in head:
    print(doc)

{'_id': ObjectId('5c822402c0669da98bd5081e'), 'id': 931, 'name': 'jealousy'}
{'_id': ObjectId('5c822402c0669da98bd5081f'), 'id': 4290, 'name': 'toy'}
{'_id': ObjectId('5c822402c0669da98bd50820'), 'id': 5202, 'name': 'boy'}
{'_id': ObjectId('5c822402c0669da98bd50821'), 'id': 6054, 'name': 'friendship'}
{'_id': ObjectId('5c822402c0669da98bd50822'), 'id': 9713, 'name': 'friends'}

In [ ]:
head = tags.find().limit(5)
my_list = list(head)
my_list

[{'_id': ObjectId('5c822402c0669da98bd5081e'), 'id': 931, 'name': 'jealousy'},
 {'_id': ObjectId('5c822402c0669da98bd5081f'), 'id': 4290, 'name': 'toy'},
 {'_id': ObjectId('5c822402c0669da98bd50820'), 'id': 5202, 'name': 'boy'},
 {'_id': ObjectId('5c822402c0669da98bd50821'),
  'id': 6054,
  'name': 'friendship'},
 {'_id': ObjectId('5c822402c0669da98bd50822'), 'id': 9713, 'name': 'friends'}]

In [ ]:
my_list

[{'_id': ObjectId('5c822402c0669da98bd5081e'), 'id': 931, 'name': 'jealousy'},
 {'_id': ObjectId('5c822402c0669da98bd5081f'), 'id': 4290, 'name': 'toy'},
 {'_id': ObjectId('5c822402c0669da98bd50820'), 'id': 5202, 'name': 'boy'},
 {'_id': ObjectId('5c822402c0669da98bd50821'),
  'id': 6054,
  'name': 'friendship'},
 {'_id': ObjectId('5c822402c0669da98bd50822'), 'id': 9713, 'name': 'friends'}]

In [ ]:
df = pd.DataFrame(my_list)
df.head()

                        _id    id        name
0  5c822402c0669da98bd5081e   931    jealousy
1  5c822402c0669da98bd5081f  4290         toy
2  5c822402c0669da98bd50820  5202         boy
3  5c822402c0669da98bd50821  6054  friendship
4  5c822402c0669da98bd50822  9713     friends

In [ ]:
head = tags.find({'id': {'$eq': 4290}}, {'_id': True})
my_list = list(head)
my_list

[{'_id': ObjectId('5c822402c0669da98bd5081f')},
 {'_id': ObjectId('5c822402c0669da98bd5143a')},
 {'_id': ObjectId('5c822402c0669da98bd52bdb')},
 {'_id': ObjectId('5c822402c0669da98bd5338c')},
 {'_id': ObjectId('5c822402c0669da98bd53a7b')},
 {'_id': ObjectId('5c822402c0669da98bd5416e')},
 {'_id': ObjectId('5c822402c0669da98bd56db6')},
 {'_id': ObjectId('5c822402c0669da98bd59399')},
 {'_id': ObjectId('5c822402c0669da98bd5971a')},
 {'_id': ObjectId('5c822402c0669da98bd5b9e5')},
 {'_id': ObjectId('5c822402c0669da98bd5d698')},
 {'_id': ObjectId('5c822402c0669da98bd5fe50')},
 {'_id': ObjectId('5c822402c0669da98bd61622')},
 {'_id': ObjectId('5c822402c0669da98bd62719')},
 {'_id': ObjectId('5c822402c0669da98bd648c0')},
 {'_id': ObjectId('5c822402c0669da98bd6563a')},
 {'_id': ObjectId('5c822402c0669da98bd66d5f')},
 {'_id': ObjectId('5c822402c0669da98bd6c705')},
 {'_id': ObjectId('5c822403c0669da98bd72a48')}]