# Функции
### Домашнее задание

#### 1.
Почему возникла ошибка? Объясните и исправьте.

In [1]:
def factorial(n):
    f = 1
    for i in range(2, n + 1):
        f = f * i
    return f

fuck = factorial(3)
print(fuck)

6

**Объяснение:** 
<br><br>

#### 2.
Почему переменная S после запуска функции сохранила значение ноль?

In [0]:
S = 0
def sum(n, m):
    S = n + m
    return S

print(sum(3, 4))
print(S)

7
0

**Объяснение:** 
<br><br>

#### 3.
Почему возникла ошибка? Объясните и исправьте, чтобы функция могла работать с данными на входе в примере с `res`.

In [5]:
def mult(*, q, w, e, r, t, y):
    return q + w + e + r + t + y
res = mult(q=1, w=2, e=3, r=4, t=5, y=6)
print(res)

21

**Объяснение:** 
<br><br>

#### 4.
Почему возникла ошибка? Объясните и исправьте, чтобы функция могла работать с данными на входе в примере.

In [6]:
def power(a, s, *, d):
    res = a ** s ** d
    print(res)
    
power(5, 6, d = 4)

733036532959081958493044038604220573003076872623105825587799726719137081664242889213090239865705342028379233496941111919796792708971905802219444504019006104332493489107721493845412453899793946281899700834091715387952751830219643610349979360602856524762182507733859966860842500858768382394753399581156286449561160783713877222895092808637540218804927005623038569306841733685039433236910980897592858987002063924013988530964522502594931500371157643132061597303111367258489022159044511817010529399435883286083212695075903281596592105429678751689059533454035251548334986509241552406961532864939006610513597608967402985707857424513196823658884413602881077337616965779954194874666031301491450438900838443296921074535307486056701074634195717288344127864971903293281532919139948732795811179970577905638353069459326437465009401802406334569163539571111057039009740125070184999823974525412495495402254164218902587890625

#### 5.
Почему возникла ошибка? Объясните и исправьте, чтобы функция могла работать с данными на входе в примере.

In [7]:
def mult2(*args):
    res = 1
    for i in args:
        res += i
    return res

List = [1, 2, 3, 4, 5, 6, 7]
print(mult2(*List))

29

#### 6.
Почему возникла ошибка? Объясните и исправьте.

In [8]:
def some_function(a, b, *args, **kwargs):
    pass

**Объяснение:** 
<br><br>

#### 7.
Почему не был создан новый список при повторном запуске функции? Объясните и исправьте.

In [0]:
def to_buy(*new_items, shopping_list = []):
    for i in new_items:
        shopping_list.append(i)
    return shopping_list

monday = to_buy('яблоки', 'молоко', 'хлеб')
print(monday)

tuesday = to_buy('груши', 'йогурт', 'мясо')
print(tuesday)

['яблоки', 'молоко', 'хлеб']
['яблоки', 'молоко', 'хлеб', 'груши', 'йогурт', 'мясо']

**Объяснение:** 
<br><br>

#### 8.
Измените данную функцию так, чтобы она распечатывала названия продуктов из словаря в примере.

In [13]:
def print_all(**kwargs):
    print(kwargs)
    for i, v in kwargs.items():
        print(v)
        
print_all(**{'1' : 'яблоки', '2' :'молоко', '3' : 'хлеб', '4' : 'груши', '5' : 'йогурт', '6' : 'мясо'})

{'1': 'яблоки', '2': 'молоко', '3': 'хлеб', '4': 'груши', '5': 'йогурт', '6': 'мясо'}
яблоки
молоко
хлеб
груши
йогурт
мясо

#### 9.
Программисты договорились, что переменные такого рода являются.. *(вопрос из лекции)*

In [0]:
TOKEN = ...

**Ответ:** 
<br>
<br>

#### 10.
Напишите функцию, которая с помощью рекурсии считает сумму последовательности с шагом m. В качестве аргументов подаются целые положительные числа n (последний элемент последовательности) и m (шаг последовательности). Считается, что все члены последовательности являются целыми положительными числами.

Пример:

```
sum_of_seq(5, 1)
15
 
sum_of_seq(5, 9)
5

sum_of_seq(8, 2)
20
```

In [19]:
### YOUR CODE HERE ###
def sum_of_seq(n, m):
    if n < 1:
        return 0
    elif n == 1:
        return 1
    return n + sum_of_seq(n - m, m)
print(sum_of_seq(8,2))
print(sum_of_seq(5,9))
print(sum_of_seq(5,1))

20
5
15

#### 11.
Напишите функцию, которая возводит число в положительную степень с помощью рекурсии. В качестве аргументов подаются целые положительные числа n (число) и m (степень).

In [21]:
### YOUR CODE HERE ###
def chislo_pow(n, m):
    if m == 0:
        return 1
    return n * chislo_pow(n, m - 1)
print(chislo_pow(3,3))

27

#### 12.
Напишите функцию, которая возводит число в отрицательную степень число с помощью рекурсии. В качестве аргументов подаются целое положительное число n (число) и целое отрицательное число m (степень).

In [27]:
### YOUR CODE HERE ###
def chislo_minus_pow(n, m):
    if m == 0:
        return 1
    return (1 / n) * chislo_minus_pow(n, m + 1)
print(chislo_minus_pow(3,-2))

0.1111111111111111

#### 13.

Напишите функцию, которая находит число Фиббоначи по его номеру. В качестве аргумента подается целое положительное число n (число).

In [30]:
### YOUR CODE HERE ###
def fib3(n):
    a, b = 0, 1
    for _ in range(n-1):   #without index
        a, b = b, a + b #переприсваивание b ->a a+b -> b
    return a        #O(n)

print(fib3(9))

21