In [1]:
import numpy as np
import pandas as pd
import random

In [2]:
df = pd.read_csv('data/conversion.csv')

In [3]:
df

     Unnamed: 0  OLD  NEW
0             1    0    1
1             2    0    0
2             3    1    1
3             4    0    1
4             5    0    1
..          ...  ...  ...
795         796    0    0
796         797    0    1
797         798    0    1
798         799    0    1
799         800    0    1

[800 rows x 3 columns]

In [4]:
p_old = df['OLD'].mean()
p_new = df['NEW'].mean()

In [6]:
prazn = p_new - p_old

In [7]:
differences = np.zeros((1, 1500))

In [8]:
for i in range(0, 1500):
    s1 = random.choices(df['OLD'], k=800)
    s2 = random.choices(df['NEW'], k=800)
    p1 = np.mean(s1)
    p2 = np.mean(s2)
    differences[0][i] = p2 - p1

In [9]:
differences

array([[0.6225 , 0.65375, 0.6675 , ..., 0.62875, 0.62875, 0.64875]])

In [ ]:
pval = ((differences - np.mean(differences)) >= prazn).sum()