In [11]:
import numpy as np
import pandas as pd
import random
from statsmodels.stats.proportion import proportions_ztest

In [3]:
df = pd.read_csv('data/parfume.csv')

In [4]:
df

     Unnamed: 0    X   id  age    group  vote
0             1    1    1   21  control     1
1             2    2    2   20  control     1
2             3    3    3   22  control     2
3             4    4    4   18  control     1
4             5    5    5   23  control     0
..          ...  ...  ...  ...      ...   ...
256         257  257  257   22     test     1
257         258  258  258   22     test     1
258         259  259  259   25     test     1
259         260  260  260   21     test     0
260         261  261  261   19     test     1

[261 rows x 6 columns]

In [5]:
df = df[df['vote'] < 2]

In [6]:
df

     Unnamed: 0    X   id  age    group  vote
0             1    1    1   21  control     1
1             2    2    2   20  control     1
3             4    4    4   18  control     1
4             5    5    5   23  control     0
5             6    6    6   18  control     1
..          ...  ...  ...  ...      ...   ...
256         257  257  257   22     test     1
257         258  258  258   22     test     1
258         259  259  259   25     test     1
259         260  260  260   21     test     0
260         261  261  261   19     test     1

[256 rows x 6 columns]

In [7]:
test = df[df['group'] == 'test']
test

     Unnamed: 0    X   id  age group  vote
124         125  125  125   22  test     1
125         126  126  126   23  test     0
126         127  127  127   24  test     0
127         128  128  128   24  test     1
128         129  129  129   23  test     1
..          ...  ...  ...  ...   ...   ...
256         257  257  257   22  test     1
257         258  258  258   22  test     1
258         259  259  259   25  test     1
259         260  260  260   21  test     0
260         261  261  261   19  test     1

[135 rows x 6 columns]

In [8]:
control = df[df['group'] == 'control']
control

     Unnamed: 0    X   id  age    group  vote
0             1    1    1   21  control     1
1             2    2    2   20  control     1
3             4    4    4   18  control     1
4             5    5    5   23  control     0
5             6    6    6   18  control     1
..          ...  ...  ...  ...      ...   ...
119         120  120  120   19  control     0
120         121  121  121   18  control     1
121         122  122  122   25  control     0
122         123  123  123   24  control     1
123         124  124  124   24  control     0

[121 rows x 6 columns]

In [10]:
p_old = control['vote'].mean()
p_new = test['vote'].mean()
p_diff = p_new - p_old
p_diff

np.float64(0.22326293235384148)

In [12]:
ns_old = control['vote'].sum()
ns_old

np.int64(42)

In [13]:
ns_new = test['vote'].sum()
ns_new

np.int64(77)

In [14]:
old_total = control['vote'].size
old_total

121

In [15]:
new_total = test['vote'].size
new_total

135

In [16]:
import numpy as np

count = np.array([ns_old, ns_new])
nobs = np.array([old_total, new_total])

stat, pvalue = proportions_ztest(count, nobs)
pvalue

np.float64(0.0003492773149343703)