# Чтение и запись данных

In [5]:
import pandas as pd

## Урок 2. Чтение файлов в формате CSV

### Практика

#### Задание 1

Откройте файл Practice1_1.csv, загрузите его в DataFrame с помощью библиотеки pandas и выведите первые 5 строк этого файла на экран. Выведите на экран название **предпоследнего** столбца этого файла. Обратите внимание, что при загрузке файла вам может потребоваться явно указать разделитель столбцов.

In [7]:
df = pd.read_csv('../beach.csv')
df.head()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,mode,price,catch,pbeach,ppier,pboat,pcharter,cbeach,cpier,cboat,ccharter,income,log_income,pdiff
0,6,6,7,beach,51.934,0.0678,51.934,51.934,191.930,220.930,0.0678,0.0789,0.1643,0.5391,8750.0010,9.076809,0.0
1,14,14,15,beach,74.514,0.2537,74.514,74.514,74.514,93.014,0.2537,0.1498,0.2339,0.6288,8750.0010,9.076809,0.0
2,16,16,17,beach,48.114,0.1049,48.114,48.114,33.534,57.534,0.1049,0.0451,0.1574,0.4671,5416.6667,8.597236,0.0
3,25,25,26,beach,67.784,0.5333,67.784,67.784,17.862,52.862,0.5333,0.4522,0.2413,1.0266,1249.9998,7.130899,0.0
4,33,33,34,beach,9.522,0.0678,9.522,9.522,78.292,107.292,0.0678,0.0789,0.0014,0.0029,3749.9999,8.229511,0.0

In [8]:
df.columns[-2]

'log_income'

#### Задание 2.

Откройте файл Practice1_2.csv и загрузите его в DataFrame с помощью библиотеки pandas, указав правильный разделитель столбцов и выбрав столбец-индекс.

In [9]:
df = pd.read_csv('../partly free.csv', sep=';')
# df.head()
df.index

RangeIndex(start=0, stop=60, step=1)

#### Задание 3

Откройте файл Practice1_3.csv, загрузите его в DataFrame с помощью библиотеки pandas и выведите первые 5 строк этого файла на экран. Выведите на экран все записи, в которых значение температуры превышает 30 градусов. Обратите внимание, что вам может потребоваться явно указать разделитель столбцов.

In [10]:
df = pd.read_csv('../beach.csv', index_col=0)
df = df[df['price'] > 30]
df.head()

,Unnamed: 0.1,Unnamed: 0,mode,price,catch,pbeach,ppier,pboat,pcharter,cbeach,cpier,cboat,ccharter,income,log_income,pdiff
6,6,7,beach,51.934,0.0678,51.934,51.934,191.930,220.930,0.0678,0.0789,0.1643,0.5391,8750.0010,9.076809,0.0
14,14,15,beach,74.514,0.2537,74.514,74.514,74.514,93.014,0.2537,0.1498,0.2339,0.6288,8750.0010,9.076809,0.0
16,16,17,beach,48.114,0.1049,48.114,48.114,33.534,57.534,0.1049,0.0451,0.1574,0.4671,5416.6667,8.597236,0.0
25,25,26,beach,67.784,0.5333,67.784,67.784,17.862,52.862,0.5333,0.4522,0.2413,1.0266,1249.9998,7.130899,0.0
99,99,100,beach,31.740,0.2537,31.740,31.740,38.088,56.588,0.2537,0.1498,0.2339,0.6288,3749.9999,8.229511,0.0