# Чтение и запись данных

In [1]:
import pandas as pd

## Урок 4. Форматирование дат

### Практика

#### Задание 1.

Скачайте файл Practice3_1.csv, загрузите его в DataFrame с помощью библиотеки pandas и выведите первые 5 строк этого файла на экран. Определите, какой формат дат используется в столбце `Date`. После этого загрузите файл Practice3_1.csv в DataFrame снова, использовав параметры `parse_dates` и `dayfirst`.

In [9]:
df = pd.read_csv('meteo1.csv', sep=';', encoding='utf8', parse_dates=['дата'], dayfirst=True)
df.head()

        дата t_avg  t_min  t_max
0 2020-11-23  11,5    6.0   16.0
1 2020-11-24     7    5.0    9.0
2 2020-11-25   NaN    NaN    NaN
3 2020-11-26  14,9   13.0   18.0
4 2020-11-27  13,3   11.0   16.0

#### Задание 2.

На основе столбца "Date" создайте новый столбец "Month", который будет содержать _номер месяца_ (от 1 до 12), соответствующего дате в каждой строке. Затем сохраните этот DataFrame в файл MyPractice3_1.csv, используя в качестве разделителя точку с запятой `;`.

In [10]:
df['Month'] = df['дата'].dt.month
df.head()

        дата t_avg  t_min  t_max  Month
0 2020-11-23  11,5    6.0   16.0     11
1 2020-11-24     7    5.0    9.0     11
2 2020-11-25   NaN    NaN    NaN     11
3 2020-11-26  14,9   13.0   18.0     11
4 2020-11-27  13,3   11.0   16.0     11

In [11]:
df.to_csv('result.csv', sep=';')